<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <meta charset="UTF-8">
</head>

<body>

    <h1>{{pageTitle}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    {{> footerPartial}}

</body>
</html>