<!DOCTYPE html>
<html>
<head>
    {{> head_tag_partial}}
</head>

<body>

    {{> headerPartial}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    {{> footerPartial}}

</body>
</html>