<!DOCTYPE html>
<html>
<head>
    <title>MAINTENANCE</title>
    <meta charset="UTF-8">
</head>

<body>

    <h1>MAINTENANCE MODE</h1>
    <p>Well be back soon!</p>

    {{> headerPartial}}

    {{> footerPartial}}

</body>
</html>